<div class="panel">
    <div class="mb-5 flex items-center justify-between">
        <h5 class="text-lg font-semibold dark:text-white-light">{{ title }}</h5>
    </div>
    <div class="mb-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5" novalidate>
            <div>
                <div formGroupName="user" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <div class="flex sm:flex-row flex-col" [ngClass]="isSubmitForm ? (form.get('user.rpe')?.errors ? 'has-error' : 'has-success') : ''">
                            <label for="rpeeject" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">RPE:</label>
                            <input id="rpeeject" formControlName="rpe" type="text" placeholder="RPE" class="form-input w-40" />
                        </div>
                        <div class="pl-[7.5rem] mt-[0.28rem]">
                            <ng-container *ngIf="isSubmitForm && !form.get('user.rpe')?.errors">
                                <span class="rounded bg-[#1abc9c] py-1 px-2 text-white">Perfecto!</span>
                            </ng-container>
                            <ng-container *ngIf="isSubmitForm && form.get('user.rpe')?.errors">
                                <span class="rounded bg-danger py-1 px-2 text-white">Ingresa el RPE</span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <span class="text-white-dark mr-2">Activo</span>
                        <label for="activeCheck" class="w-12 h-6 relative">
                            <input
                                type="checkbox"
                                formControlName="active"
                                class="custom_switch absolute w-full h-full opacity-0 z-10 cursor-pointer peer"
                                id="activeCheck"
                            />
                            <span
                                class="outline_checkbox bg-icon border-2 border-danger dark:border-danger block h-full rounded-full before:absolute before:left-1 before:bg-danger dark:before:bg-danger before:bottom-1 before:w-4 before:h-4 before:rounded-full before:bg-[url(/assets/images/close.svg)] before:bg-no-repeat before:bg-center peer-checked:before:left-7 peer-checked:before:bg-[url(/assets/images/checked.svg)] peer-checked:border-success peer-checked:before:bg-success before:transition-all before:duration-300"
                            ></span>
                        </label>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div formGroupName="user">
                        <div>
                            <div
                                class="flex sm:flex-row flex-col"
                                [ngClass]="isSubmitForm ? (form.get('user.name')?.errors ? 'has-error' : 'has-success') : ''"
                            >
                                <label for="name" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Nombre:</label>
                                <input id="name" type="text" formControlName="name" placeholder="Ingresa el Nombre" class="form-input flex-1" />
                            </div>
                            <div class="pl-[7.5rem] mt-[0.25rem]">
                                <ng-container *ngIf="isSubmitForm && !form.get('user.name')?.errors">
                                    <span class="rounded bg-[#1abc9c] py-1 px-2 text-white">Perfecto!</span>
                                </ng-container>
                                <ng-container *ngIf="isSubmitForm && form.get('user.name')?.errors">
                                    <span class="rounded bg-danger py-1 px-2 text-white">Ingresa el Nombre</span>
                                </ng-container>
                            </div>
                        </div>
                        <div>
                            <div
                                class="flex sm:flex-row flex-col"
                                [ngClass]="isSubmitForm ? (form.get('user.email')?.errors ? 'has-error' : 'has-success') : ''"
                            >
                                <label for="email" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Correo electrónico:</label>
                                <input id="email" type="text" formControlName="email" placeholder="Ingresa el Correo electrónico" class="form-input flex-1" />
                            </div>
                            <div class="pl-[7.5rem] mt-[0.25rem]">
                                <ng-container *ngIf="isSubmitForm && !form.get('user.email')?.errors">
                                    <span class="rounded bg-[#1abc9c] py-1 px-2 text-white">Perfecto!</span>
                                </ng-container>
                                <ng-container *ngIf="isSubmitForm && form.get('user.email')?.errors">
                                    <span class="rounded bg-danger py-1 px-2 text-white"
                                        >{{
                                            form.get('user.email')?.errors?.['required'] && !form.get('user.email')?.errors?.['email']
                                                ? 'Ingresa el Correo Electrónico'
                                                : ''
                                        }}
                                        {{
                                            !form.get('user.email')?.errors?.['required'] && form.get('user.email')?.errors?.['email']
                                                ? 'Ingresa un Correo Electrónico Valido'
                                                : ''
                                        }}</span
                                    >
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex sm:flex-row flex-col">
                            <label for="phone" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Teléfono:</label>
                            <input id="phone" type="text" formControlName="phone" placeholder="Ingresa el teléfono" class="form-input flex-1" />
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-1">
                            <div class="flex sm:flex-row flex-col">
                                <label for="society" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Sociedad:</label>
                                <input id="society" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="society" readonly />
                            </div>
                            <div class="flex sm:flex-row flex-col">
                                <input id="tsociety" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="tsociety" readonly />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-1">
                            <div class="flex sm:flex-row flex-col">
                                <label for="profitCenter" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Centro de Beneficio:</label>
                                <input id="profitCenter" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="profitCenter" readonly />
                            </div>
                            <div class="flex sm:flex-row flex-col">
                                <input
                                    id="profitCenter"
                                    type="text"
                                    class="form-input flex-1 border-none focus:outline-none"
                                    [value]="tprofitCenter"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <div
                                    class="flex sm:flex-row flex-col"
                                    [ngClass]="isSubmitForm ? (form.get('user.costCenter')?.errors ? 'has-error' : 'has-success') : ''"
                                >
                                    <label for="costCenter" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Centro de Costo:</label>
                                    <input
                                        id="costCenter"
                                        (blur)="loadCostCenter($event)"
                                        type="text"
                                        formControlName="costCenter"
                                        placeholder="Ingresa Centro de Costo"
                                        class="form-input flex-1"
                                    />
                                </div>
                                <div class="pl-[7.5rem] mt-[0.25rem]">
                                    <ng-container *ngIf="isSubmitForm && !form.get('user.costCenter')?.errors">
                                        <span class="rounded bg-[#1abc9c] py-1 px-2 text-white">Perfecto!</span>
                                    </ng-container>
                                    <ng-container *ngIf="isSubmitForm && form.get('user.costCenter')?.errors">
                                        <span class="rounded bg-danger py-1 px-2 text-white">Ingresa el Centro de Costo</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex sm:flex-row flex-col">
                                <input id="profitCenter" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="tcostCenter" readonly />
                            </div>
                        </div>
                        <div class="flex sm:flex-row flex-col">
                            <label for="sirch" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Información SIRH:</label>
                            <input id="sirch" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="sirhInfo" readonly />
                        </div>
                        <div class="flex sm:flex-row flex-col">
                            <label for="sap" class="mb-0 sm:w-28 sm:ltr:mr-2 rtl:ml-2">Información SAP:</label>
                            <input id="sap" type="text" class="form-input flex-1 border-none focus:outline-none" [value]="sapInfo" readonly />
                        </div>
                    </div>
                    <div class="flex flex-col justify-between h-full">
                        <div formGroupName="privileges" class="flex justify-end">
                            <div class="table-responsive" *ngIf="userDetail?.data?.showPrivileges">
                                <table class="w-96 border border-white-dark border-collapse">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center bg-gray-200 h-6 dark:bg-white-dark dark:text-white-light">
                                                <strong>P e r m i s o s:</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td>
                                                <input type="checkbox" class="form-checkbox" />
                                            </td>
                                            <td>Acceso a Comité.</td>
                                        </tr> -->
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="form-checkbox" formControlName="autps" />
                                            </td>
                                            <td>Administrar Problemas-Solución.</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <input type="checkbox" class="form-checkbox" />
                                            </td>
                                            <td>Administrar Mensaje de Error.</td>
                                        </tr> -->
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="form-checkbox" formControlName="autdoc" />
                                            </td>
                                            <td>Administrar Documentos.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="isSubmitForm ? (form.controls['justification'].errors ? 'has-error' : 'has-success') : ''">
                            <label for="justificationTextArea">Justificación</label>
                            <textarea
                                id="justificationTextArea"
                                rows="3"
                                class="form-textarea"
                                formControlName="justification"
                                placeholder="En caso de hacer alguna modificación describa detalladamente la razón por la que hará dicho cambio . . ."
                            ></textarea>
                            <ng-container *ngIf="isSubmitForm && !form.controls['justification'].errors">
                                <span class="rounded bg-[#1abc9c] py-1 px-2 text-white">Perfecto!</span>
                            </ng-container>
                            <ng-container *ngIf="isSubmitForm && form.controls['justification'].errors">
                                <span class="rounded bg-danger py-1 px-2 text-white">Ingresa la Justificación</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="inline-flex">
                    <button type="submit" class="btn btn-success !mt-6 mr-4">{{ userRpe != undefined ? 'Guardar Cambios' : 'Crear' }}</button>
                    <a routerLink="/administracion/usuarios" class="btn btn-danger !mt-6 cursor-pointer">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>
