ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}

ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
