<div class="mb-5">
    <div class="flex w-full flex-col justify-center">
        <ul class="m-auto mb-4 inline-flex items-center space-x-1 rtl:space-x-reverse">
            <li>
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light p-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(1)"
                    [disabled]="paginationConfig.number === 1"
                >
                    <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                </button>
            </li>
            <li>
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light px-2.5 py-2.5 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(paginationConfig.number - 1)"
                    [disabled]="paginationConfig.number === 1"
                >
                    <icon-caret-down class="rotate-90 rtl:-rotate-90" />
                </button>
            </li>
            <li *ngIf="paginationConfig.number > 2">
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(1)"
                >
                    1
                </button>
            </li>
            <li *ngIf="paginationConfig.number > 3">
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                >
                    ...
                </button>
            </li>
            <li *ngFor="let page of pages">
                <button
                    *ngIf="page >= 1 && page <= paginationConfig.totalPages"
                    type="button"
                    class="flex justify-center rounded-full px-3.5 py-2 font-semibold transition"
                    [ngClass]="{
                        'bg-success text-white': paginationConfig.number === page,
                        'bg-white-light text-dark hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success':
                            paginationConfig.number !== page,
                    }"
                    (click)="onPageChange(page)"
                >
                    {{ page }}
                </button>
            </li>
            <li *ngIf="paginationConfig.totalPages > 3 && paginationConfig.number < paginationConfig.totalPages - 2">
                <button
                    type="button"
                    class="flex justify-center text-center rounded-full bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                >
                    ...
                </button>
            </li>
            <li *ngIf="paginationConfig.number < paginationConfig.totalPages - 1">
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(paginationConfig.totalPages)"
                >
                    {{ paginationConfig.totalPages }}
                </button>
            </li>
            <li>
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light px-2.5 py-2.5 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(paginationConfig.number + 1)"
                    [disabled]="paginationConfig.number === paginationConfig.totalPages"
                >
                    <icon-caret-down class="-rotate-90 rtl:rotate-90" />
                </button>
            </li>
            <li>
                <button
                    type="button"
                    class="flex justify-center rounded-full bg-white-light p-2 font-semibold text-dark transition hover:bg-success hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-success"
                    (click)="onPageChange(paginationConfig.totalPages)"
                    [disabled]="paginationConfig.number === paginationConfig.totalPages"
                >
                    <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                </button>
            </li>
        </ul>
    </div>
</div>
