<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="pt-6">
    <app-user-form
        [edit]="edit"
        [title]="title"
        [form]="form"
        [adscription]="adscription"
        [sapInfo]="sapInfo"
        [sirhInfo]="sirhInfo"
        [showPrivileges]="showPrivileges"
        (onSubmitForm)="onSubmit()"
        [isSubmitForm]="isSubmitForm"
    ></app-user-form>
</div>
<div *ngIf="rpe">
    <app-user-add-roles [userDetail]="user" [userRpe]="rpe"></app-user-add-roles>
</div>
